table{
	border: 5px Plum;
}
td:hover{
	background-color: red;
	color: Seashell;
}
tr,th{
	background-color: Aqua;
	color: violet;
	text-align: center;
}
tr,td{
	background-color: PaleGreen;
	color: black;
	text-align: center;
}