li{
	display:inline-block;
	width:300px;
	list-style-type:none;
	text-align:center;
	font-weight:bold;
}
.img{
	position:relative;
	background-image: url(./images/background.jpg);
	height: 100vh;
	background-size: cover;
	
}

.img .content{
	position: absolute;
	font-size:20px;
	color: white;
	text-align: left;
}
.picture_list{
	width:675px;
	height:250px;
}

.picture{
	width:225px;
	float: left;
	}
